h1 {
    color: #06335c
}

h1:hover {
    color:#08577F;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
    height: 100vh;
    display:flex
    justify-content: center;
    align-items: center;
}

button {
    background-color: #e8f3f9;
    color: #588596;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: none;
}

button:hover {
    background-color: #abff9b;
}

.wrapper {
  width: 90%;
  max-width: 34.37em;
  max-height: 90vh;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

#wheel {
    max-height: 300px;
    width: 300px;
    top: 0;
    padding: 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* for arrow */
img {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
}